<div class="container-fluid">
  <div class="row">
    <div class="flex-container">
      <div class="flex-item">
        <mat-form-field appearance="outline">
          <mat-label>Plant Name</mat-label>
          <mat-select>
            <mat-option value='Chennai'>Chennai</mat-option>
            <mat-option value='Delhi'>Delhi</mat-option>
            <mat-option value='Mumbai'>Mumbai</mat-option>
            <mat-option value='Bengalaru'>Bengalaru</mat-option>
            <mat-option value='Ahemadapad'>Ahemadapad</mat-option>
            <mat-option value='Kolkata'>Kolkata</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex-item">
        <mat-form-field appearance="outline">
          <mat-label>Area Name</mat-label>
          <mat-select>
            <mat-option value='Area1'>Area1</mat-option>
            <mat-option value='Area2'>Area2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex-item">
        <mat-form-field appearance="outline">
          <mat-label>Department Name</mat-label>
          <mat-select>
            <mat-option value='Gear'>Gear</mat-option>
            <mat-option value='Brake'>Brake</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex-item">
        <mat-form-field appearance="outline">
          <mat-label>Line Name</mat-label>
          <mat-select>
            <mat-option value='Line101'>Line101</mat-option>
            <mat-option value='Line201'>Line201</mat-option>
            <mat-option value='Line301'>Line301</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex-item">
        <mat-form-field appearance="outline">
          <mat-label>Machine Name</mat-label>
          <mat-select>
            <mat-option value='GHM101'>GHM101</mat-option>
            <mat-option value='GHM102'>GHM102</mat-option>
            <mat-option value='GHM201'>GHM201</mat-option>
            <mat-option value='GHM202'>GHM202</mat-option>
            <mat-option value='GHM301'>GHM301</mat-option>
            <mat-option value='GHM302'>GHM302</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex-item">
        <mat-form-field appearance="outline">
          <mat-label>From</mat-label>
          <input matInput [matDatepicker]="fDate" />
          <mat-datepicker-toggle
            matSuffix
            [for]="fDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #fDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="flex-item">
        <mat-form-field appearance="outline">
          <mat-label>To</mat-label>
          <input matInput [matDatepicker]="tDate" />
          <mat-datepicker-toggle
            matSuffix
            [for]="tDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #tDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
