<!--<mat-drawer-container class="example-container" autosize hasBackdrop="true">
  
  <mat-drawer #drawer class="mcc-sidenav" mode="over">
    <div class="title">
      <h1>MCC</h1>
    </div>
    <hr class="solid" />
    
    <div class="sidebar">
      <li class="item">
        <a routerLink="/overall" class="menu-btn"
          ><i class="fa fa-desktop" aria-hidden="true"></i
          ><span>Overall Dashboard</span></a
        >
      </li>
      <li class="item">
        <a routerLink="/" class="menu-btn"
          ><i class="fa fa-industry" aria-hidden="true"></i
          ><span>Plant Dashboard</span></a
        >
      </li>
      <li class="item">
        <a routerLink="/" class="menu-btn"
          ><i class="fa fa-desktop" aria-hidden="true"></i><span>Test</span></a
        >
      </li>
    </div>
   
  </mat-drawer>
   -->

  <div class="main">
    <mat-toolbar>
      <!--<button mat-button (click)="drawer.toggle()" class="menu-btn">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </button> -->
      <img routerLink="/" style="margin-right:10px;margin-top:4px;width:60px;height:30px;outline : none;" alt="image" src="./assets/images/Awslogo.png">
      <img routerLink="/" style="width:2px;height:45px;outline : none;" alt="image" src="./assets/images/whitestrip.png">
      <img routerLink="/" style="margin-left:10px;margin-bottom:6px;width:150px;height:30px;outline : none;" alt="image" src="./assets/images/deloittelogo.png">
      <!-- <button mat-button routerLink="/">Dashboard</button>
      <button mat-button routerLink="/overall">OEE</button> -->
      <span style="flex: 1 1 auto;"></span>
      <!--
        <button mat-button routerLink="/login">
        Login
      </button>
      <button mat-button>
        Register
      </button>
    -->
      <button mat-button>
        Welcome Administrator
      </button>
      
      <button mat-button>
        <img style="width:20px;height:20px;outline : none;" alt="logout" src="./assets/images/logout.png">
      </button>
      
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
<!--</mat-drawer-container>-->
