<div class="container-fluid">
  <div class="flex-container">
    <div class="flex-item">
      <div class="gauge">
        <ngx-gauge
          [type]="gaugeType"
          [size]="gaugeSize"
          [thick]="gaugeThick"
          [value]="oeeData1.a.gaugeValue"
          [label]="oeeData1.a.gaugeLabel"
          [append]="gaugeAppendText"
          [thresholds]="thresholdConfig"
          [cap]="gaugeCap"
        >
        </ngx-gauge>
      </div>
    </div>
    <div class="flex-item-h1">
      <h1>X</h1>
    </div>
    <div class="flex-item">
      <div class="gauge">
        <ngx-gauge
          [type]="gaugeType"
          [size]="gaugeSize"
          [thick]="gaugeThick"
          [value]="oeeData1.p.gaugeValue"
          [label]="oeeData1.p.gaugeLabel"
          [append]="gaugeAppendText"
          [thresholds]="thresholdConfig"
          [cap]="gaugeCap"
        >
        </ngx-gauge>
      </div>
    </div>
    <div class="flex-item-h1">
      <h1>X</h1>
    </div>
    <div class="flex-item">
      <div class="gauge">
        <ngx-gauge
          [type]="gaugeType"
          [size]="gaugeSize"
          [thick]="gaugeThick"
          [value]="oeeData1.q.gaugeValue"
          [label]="oeeData1.q.gaugeLabel"
          [append]="gaugeAppendText"
          [thresholds]="thresholdConfig"
          [cap]="gaugeCap"
        >
        </ngx-gauge>
      </div>
    </div>
    <div class="flex-item-h1">
      <h1>=</h1>
    </div>
    <div class="flex-item">
      <div class="gauge">
        <ngx-gauge
          [type]="gaugeType"
          [size]="gaugeSize"
          [thick]="gaugeThick"
          [value]="oeeData1.oee.gaugeValue"
          [label]="oeeData1.oee.gaugeLabel"
          [append]="gaugeAppendText"
          [thresholds]="thresholdConfig"
          [cap]="gaugeCap"
        >
        </ngx-gauge>
      </div>
    </div>
  </div>
  <div id="oeeChartDiv1" style="width: 100%; height: 22rem;"></div>
</div>
