<div>
  <google-map
    height="25rem"
    width="auto"
    [center]="center"
    [zoom]="zoom"
    [options]="markerOptions"
    (mapClick)="addMarker($event)"
    (mapMousemove)="move($event)"
    (mapRightclick)="removeLastMarker()"
  >
    <map-marker
      #marker="mapMarker"
      *ngFor="let markerPosition of markerPositions"
      [position]="markerPosition"
      (mapClick)="openInfoWindow(marker)"
      (mapDblclick)="navigateToOEE(marker)"
    ></map-marker>
    <map-info-window> <H1>Info Window</H1></map-info-window>
  </google-map>
</div>
<!--

<div id="regions_div" style="width: 900px; height: 500px;"></div>

-->
